@font-face {
	font-family: beleren;
	src: url(assets/!JaceBeleren-Bold.otf);
}

body {
	font-family: beleren;
}
img {
	position: relative;
	width: 100%;
	z-index: 0;
	margin-bottom: -124%;
	border-radius: 4%;
}
#pool, #deck {
	position: relative;
	height: 50%;
	overflow: auto;
	border: 1px solid black;
}
.wrapper{
	width: 100%;
	height: 100%;
	float: left;
}
.slot {
	display: inline-block;
	float: left;
	width: 223px;
	padding: 0.25em 0 0 0.25em;
}