/*
font-family: 'Playfair Display', serif;
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
*/

h1{
	font-family: 'Playfair Display', serif;
	font-size: 3em !important;
	text-align: center;
}

h2{
	font-family: 'Merriweather', serif;
	font-size: 2em !important;
	letter-spacing: 0.02em;
}

p{
	font-family: 'Merriweather', serif;
	font-size: 1.3em;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}

blockquote{
	font-style: italic;
}

div.row{
	border-bottom: 1px solid #333333;
	margin-bottom: 1em;
}