@font-face {
    font-family: blogFont;
    src: url("../assets/fonts/Charter Regular.otf");
}

body {
	/* TEXTO */
	font-family: 'blogFont';
	font-size: 22px;
	line-height: 1.4em;
}

div.row.post {
	box-shadow: 0px 2px 2px 2px lightgray;
	margin-bottom: 24px;
}

u {
	text-decoration: none;
	border-bottom: 2px solid #333333;
	display: inline-block;
	border-bottom-right-radius: 0.1em;
	height: 1.25em;
	text-shadow: 1px 1px white, -1px -1px white;
}

/* MOBILE */
@media (max-width: 992px) {
	/*body {
		font-size: 30px;
		line-height: 2.1em;
	}*/

	.container {
		width: 95%;
	}
}